<header><img src="https://qph.ec.quoracdn.net/main-qimg-0527044735deeedd0fcc85acc2648fd8" /></header>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="">Conférence</a></li>
                <li><a href="/#sessions-list">Sessions</a></li>
                <li><a href="/#speakers-list">Présentateurs</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="main-view">
    
<div class="center-block" style="max-width:400px">
    <h2>Conférence</h2>
    <p> Date debut - Date fin </p>
        <a href="/#sessions-list" class="btn btn-primary">Voir les sessions</a>
        <a href="/#speakers-list" class="btn btn-primary">Voir les présentateurs</a>
    </div>
</section>
<footer class="footer" role="contentinfo"><hr>
	<div class="box clearfix">
		<nav>
			<a href="">Accueil</a> | 
			<a rel="nofollow" href="https://github.com/Eddydebuisson" target="_parent">Travaux</a> 
			 | <a href="https://showroom.doyoubuzz.com/ebrmDD3yY3h5rXzd1xuvgQ/y2MLqx3f9hUKDGrwi5eE#modal%2Fcontent" >Contact</a>
		</nav>
		<small class="copyright">&copy; Tous <a rel="nofollow" href="https://www.pourlesnuls.fr/sites/pourlesnuls.edinul-pw01.msp.fr.clara.net/files/9782754060516.jpg">droits réservés</a> à Eddy Debuisson.</small>
	</div><!--.box-->
</footer>
